	:root {
	  --mouse-x: 0px;
	  --mouse-y: 0px;
	  --bgcolor-h: #f4f4f4; //#ff6347; //#e8175d; //#778aab; //#f6e2d7;
	  --bgcolor-back:#f6e2d7; 
	  --col-100:100%; 
	}	
	
	.mover { left: var(--mouse-x); top: var(--mouse-y); }
		
	.box-1 { margin-top:100px;}

	html, body, #fullheight { min-height: 100% !important; height: 100%; max-width:100%; margin:0px; font-size:12px;}
	
	.innerpopup { background:#FFFFFF;padding-right:0px;border-radius:4px; z-index:25;background-color:#f6f6f4;box-shadow: 5px 7px #888888;border:0.5px solid black;}
	
	.top-bg1{ position:fixed;top:0px; background-color:var(--bgcolor-h); z-index:5; /*animation: bg-anim 7s linear infinite;*/}
	
	.top-bg-back{ position:fixed;top:0px; background-color:var(--bgcolor-back); z-index:5; /*animation: bg-anim 7s linear infinite;*/}
	
	.top-hamb{top:0px; z-index:10;}

	.hamb{ width: 25px; height: 4px; background-color:#000000; margin:4px; z-index:51;}

	.top-bg2{background-color:#ffd480;border-radius:0px;margin:0px;padding:0px;}
	
	.onfixed{position:fixed;top:40px;z-index:23;margin:0px;}

	.uline{ border-bottom:0.2px solid #c0c0c0; margin-bottom:4px; }
	
	.container{width:var(--col-100)!important; display:flex; flex-direction:row; border-radius:5px; z-index:1;}
	
	.overflow {overflow:hidden; cursor: auto;}
	
	.container-h{
		width:var(--col-100)!important; box-sizing:border-box; position:fixed; margin-top:0px; 
		background-color:var(--bgcolor-h); display:flex;flex-direction:row; z-index:1;
	}
	
	.hambbox{width:13%; padding:0px 5px 5px 0px; margin-top:-5px; border: 0px solid #FFFFFF; z-index:51;}
	
	.grp { display:flex;flex-direction:column; flex-wrap:wrap;border-radius:5px;}
	.grp-l2 {display:flex; flex-direction:row; flex-wrap:wrap; border-radius:5px;}
	.inner { display:flex; flex-direction:column; float: left; flex-wrap: wrap;}
	.col-h-2{float:left; width:calc(var(--col-100)/2); box-sizing:border-box;}
	.col-1{float:left; width:var(--col-100); box-sizing:border-box;}
	.col-2{float:left; width:calc(var(--col-100)/2);box-sizing:border-box;}
	.col-3{float:left; width:calc(var(--col-100)/3);box-sizing:border-box;}
	.col-4{float:left; width:calc(var(--col-100)/4);box-sizing:border-box;}
	.col-5{float:left; width:calc(var(--col-100)/5);box-sizing:border-box;}
	.col-6{float:left; width:calc(var(--col-100)/6);box-sizing:border-box;}
	.col-60{float:left; width:60%;box-sizing:border-box;}
	.col-80{float:left; width:80%;box-sizing:border-box;}
	
	.m-0{margin:0px;box-sizing:border-box;}
	.p-0{padding:0px;box-sizing:border-box;}
	.p-4{padding:4px;box-sizing:border-box;}
	.p-6{padding:6px;box-sizing:border-box;}
	.p-8{padding:8px;box-sizing:border-box;}
	.p-10{padding:10px;box-sizing:border-box;}
	
	.h-02{height:2%;}
	.h-03{height:3%;}
	.h-05{height:5%;}
	.h-08{height:8%;}
	.h-1{height:10%;}
	.h-2{height:20%;}
	.hs-2{height:20%;}
	.h-3{height:30%;}
	.h-4{height:40%;}
	.h-5{height:50%;}
	.h-6{height:60%;}
	.h-7{height:70%;}
	.h-8{height:80%;}
	.h-9{height:90%;}
	.h-10{height:100%;}
	.h-9.mobilesize{height:90%;}

	.m-1{margin:5px;}
	.m-2{margin:10px;}
	.m-3{margin:15px;}
	.m-4{margin:20px;}
	.m-5{margin:25px;}

	.box-85{float:left; width:var(--col-100);box-sizing:border-box;}
	.box-90{float:left; width:var(--col-100);box-sizing:border-box;}
	.box-95{float:left; width:var(--col-100);box-sizing:border-box;}
	.box-100{float:left; width:var(--col-100);box-sizing:border-box;}
			
	.content{height:85%!important;background-color:#FFFFFF;z-index:7;margin-top:10px;}
	
	.txl{text-align:left;}
	.txr{text-align:right;}
	
	.txc{text-align:center;}
	.editable{ border: 0.2px solid #c0c0c0;border-radius:5px; padding:4px; float:left; min-height:12px; width: 80%;}
	.icon-l1{ margin-left:-20px;}
	.noneditable{ border: 0.2px solid #c0c0c0; border-radius: 5px; padding:4px; float:left; height:12px; width: 20%;}
	.btn{ border: 0.2px solid #c0c0c0; border-radius: 5px; margin-left:auto; margin-right:auto; padding:4; float:left; width:20%;text-align:center;}
	.center{margin-left: 25%; }
	
	.b1{ border:0.3px solid #c0c0c0; border-radius:5px;transition: border-width 0.6s linear;}
	
	.noneditable::before{content:"\2207";padding:4px;}
	.label-l1::after{content:" :";}
	.close::after{content:"\2716";cursor:pointer;}
	.ptr{cursor:pointer;}
	
	.linkuri{ z-index:20; color:#000000; cursor:pointer; border-radius:5px; padding-left:4px;}
	
	.linkuri:hover { box-shadow: inset 100px 100px 100px 100px #ffffff; color: #000000; }
	
	.linkuri::before{content:'\1F588 \00A0'}
	
	.vxc{
		top: 50%;
		transform: translateY(50%);
		-ms-transform: translateY(50%);
		-moz-transform: translateY(50%);
		-webkit-transform: translateY(50%);
		-o-transform: translateY(50%);
	}
	
	.hxc{
		top: 50%;
		transform: translateX(50%);
		-ms-transform: translateX(50%);
		-moz-transform: translateX(50%);
		-webkit-transform: translateX(50%);
		-o-transform: translateX(50%);
	}
	
	.mobile{ display:block;}
		
	@media only screen and (max-width: 600px) {
		:root {
		  --mouse-x: 0px;
		  --mouse-y: 0px;
		  --bgcolor-h:#f6e2d7;
		  --col-100:100%; 
		}	
		html, body, #fullheight { min-height: 100% !important; height: 100%; max-width:100%; margin:0px; font-size:12px;}
		
		.mobile { display:none; }
		
		 div > div {box-sizing:border-box; border:0px solid #000000; border-bottom:0px solid grey; margin-left:0; padding:2px;}
		
		.container{ box-sizing:border-box; width:var(--col-100); display:flex; flex-direction:column; border-radius:0px; z-index:1; }
		
		.container-h{ box-sizing:border-box; width:var(--col-100)!important;position:fixed;top:0px;background-color:var(--bgcolor-h); display:flex;flex-direction:row;border-radius:5px;z-index:1; }
		
		.grp {box-sizing:border-box;width:var(--col-100);display:flex;flex-direction:column;margin-top:4px;border-radius:5px;}
		
		.linkurigrp{display:flex;flex-direction:column;margin-top:4px;border-radius:5px;text-align:left;}
		
		.linkurigrp.mobile{display:flex; flex-direction:row; margin-top:4px; border-radius:5px; text-align:left; }

		.h-9.mobile {height:50%; margin-bottom:5%; box-sizing:border-box;} 

		.linkuri {
			box-sizing:border-box;z-index:20;color:#000000; cursor:pointer;
			box-shadow: inset 0 0 0 0 #54b3d6;
			transition: color .3s ease-in-out, box-shadow .3s ease-in-out; padding-left:4px;
		}
		
		.mt-1{margin-top:2px;box-sizing:border-box;}
		.mt-2{margin-top:4px;box-sizing:border-box;}
		.mt-3{margin-top:6px;box-sizing:border-box;}
		.mt-4{margin-top:8px;box-sizing:border-box;}
		
		.m-1{margin:0px;box-sizing:border-box;}
		.m-2{margin:0px;box-sizing:border-box;}
		.m-3{margin:0px;box-sizing:border-box;}
		.m-4{margin:0px;box-sizing:border-box;}
		.m-5{margin:0px;box-sizing:border-box;}
		
		.col-1{float:left; width: var(--col-100);box-sizing:border-box;}
		.col-2{float:left; width: var(--col-100);box-sizing:border-box;}
		.col-3{float:left; width: var(--col-100);box-sizing:border-box;}
		.col-4{float:left; width: var(--col-100);box-sizing:border-box;}
		.col-5{float:left; width: var(--col-100);box-sizing:border-box;}
		.col-6{float:left; width: var(--col-100);box-sizing:border-box;}
		.col-60{float:left; width:var(--col-100);box-sizing:border-box;}
		.col-80{float:left; width:var(--col-100);box-sizing:border-box;}
		
		.box-85{float:left; width:var(--col-100);box-sizing:border-box;}
		.box-90{float:left; width:var(--col-100);box-sizing:border-box;}
		.box-95{float:left; width:var(--col-100);box-sizing:border-box;}
		.box-100{float:left; width:var(--col-100);box-sizing:border-box;}
		
		.m-0{margin:0px;}
		
		.p-0{padding:0px;box-sizing:border-box;}
		.p-4{padding:4px;box-sizing:border-box;}
		.p-6{padding:6px;box-sizing:border-box;}
		.p-8{padding:8px;box-sizing:border-box;}
		.p-10{padding:10px;box-sizing:border-box;}
		
			
		.center{ margin-left: 0%; padding-left:0px; height:50%; width:80%;}
		
		.editable{ border: 0.2px solid #c0c0c0;border-radius: 5px; padding:4px; float:left; min-height:12px; width: 80%;margin-top:3px;}
		
		.noneditable{ border: 0.2px solid #c0c0c0;border-radius: 5px; padding:4px; float:left; height:12px; width: 20%;}
		
		.hs-2{height:5%;box-sizing:border-box;}
		
		.top-bg1{position:fixed;top:0px;background-color:#f6e2d7;}
		
		.top-hamb{top:0px;z-index:10;}
		
		.hamb{ box-sizing:border-box; width: 25px; height: 4px; background-color:#000000; margin:4px; z-index:101;}
		
		.hambbox{box-sizing:border-box; width:1px; height:1px; margin-top:-5px; z-index:7; border:0px solid red;}
		
		.top-bg2{background-color:#ffbb99;border-radius:0px 0px 0px 0px;}
		
		.innerpopup { background:#FFFFFF; z-index:25; margin:5px; background-color:#f6f6f4;}
			
		.onfixed{position:fixed;top:0px;z-index:2;margin:0px;}
		
		.content{ min-height:100%; background-color:#FFFFFF;}
		
		.txc.mini{text-align:left;padding:8px;}
		
		.h-1.mobilesize { height:0%; }
		
		.container.h-08{height:5%;}
		
		.overflow {overflow:visible; cursor: auto;}
	}
	